# H1: this is h1

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

<ol>Some of the popular languages that Data Scientists use are:
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Java</li></ol>

<ol>Some of the commonly used libraries used by Data Scientists include:
    <li>Numpy</li>
    <li>Panda</li>
    <li>TensorFlow</li>
    <li>Keras</li></ol>

|Data Science Tools|
|--|
|Spark|
|Hadoop|
|MATLAB|
|MySQL|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hours = min/60
print(hours)

3.3333333333333335

<ul>Objectives:
    <li>Languages used for data science</li>
    <li>Librabries used for data science</li>
    <li>tools used for data science</li>
    <li>Calculations using Python code</li>
    </ul>

##  Author ;
## Lakshmi Holla
## Niveditha Pandith
Anupam Rai